@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap");
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #1F052E;
  --primary: #fc9c01;
  --secondary: #8515c2;
  --blue-shade: #1883e9;
  --blue-shade-dark: #223846;
  --pink-shade: #ff1493;
  --font-dm-sans: "DM Sans", sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-secondary: var(--secondary);
  --color-primary: var(--primary);
  --font-dm: var(--font-dm-sans);
  --color-blue-shade-dark: var(--blue-shade-dark);
  --color-blue-shade: var(--blue-shade);
  --color-pink-shade: var(--pink-shade);
}
html {
  font-size: 0.875rem;
}
body {
  font-family: "Syne", sans-serif;
}
